<div class="sidebar_warpper">
    <div class="sidebar_logo">
        <img src="/img/logo_alt.png" alt="logo_ecop">
    </div>
    <ul class="sidebar_menu">

        <li class="menu_label">
            <a href="#">
                <span class="menu_icon"><i class="fa fa-home fa-1x" aria-hidden="true"></i></span>
                <span class="menu_title">Dashboard</span>
            </a>
        </li>
        <ul class="mm_collapse">
            <li class="mm_label">
                <a href="#">
                    <span class="mm_icon">></span>
                    <span class="mm_title">หน้าหลัก</span>
                </a>
            </li>
            <li class="mm_label">
                <a href="#">
                    <span class="mm_icon">></span>
                    <span class="mm_title">ข่าว & จำนวนคนดู</span>
                </a>
            </li>
            <li class="mm_label">
                <a href="#">
                    <span class="mm_icon">></span>
                    <span class="mm_title">ผู้ใช้</span>
                </a>
            </li>
        </ul>

        <li class="menu_label">
            <a href="#">
                <span class="menu_icon"><i class="fa fa-users fa-1x" aria-hidden="true"></i></span>
                <span class="menu_title">User</span>
            </a>
        </li>

        <li class="menu_label">
            <a href="/admin-ecop/news">
                <span class="menu_icon"><i class="fa fa-clipboard fa-1x" aria-hidden="true"></i></span>
                <span class="menu_title">Post</span>
            </a>
        </li>

    </ul>
</div>