<!-- Main Content -->
<div class="container_index">
    <div class="content_main">
        <h1>Studying Online is <br> now much easier</h1>
        <p>TOTC is an interesting platform that will <br> teach you in more an interactive way</p>
        <div class="main_join">
            <button class="btn_join">Join for free</button>
        </div>
    </div>
</div>

<!-- Section 1 -->
<div class="content_more">

    <div class="topic">
        <h1>Two-In-One Cloud Software.</h1>
        <p>TOTC is one powerful online software suite that combines all the tools needed to run a successful school or
            office.
        </p>
    </div>

    <div class="content_card">
        <div class="card">
            <div class="icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="card-body">
                <h3 class="card-title">Cybersecurity News</h3>
                <p class="card-text">Simple and secure control of your organization’s financial and legal transactions.
                    Send
                    customized invoices and contracts</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="card-body">
                <h3 class="card-title">Free online platform for learning cyber security</h3>
                <p class="card-text">Simple and secure control of your organization’s financial and legal transactions.
                    Send
                    customized invoices and contracts</p>
            </div>
        </div>
    </div>

</div>

<!-- Section 2 -->
<div class="content_more">

    <div class="topic">
        <h1>Cybersecurity News.</h1>
        <p>TOTC is a platform that allows educators to create online classes whereby they can store the course materials
            online; manage assignments, quizzes and exams; monitor due dates; grade results and provide students with
            feedback all in one place.
        </p>
    </div>

    <div class="overlap">
        <img src="/img/rectangle-21.png" alt="Image Description" />
        <div class="overlap_btn">
            <a href="#">Enter access code</a>
        </div>
    </div>

</div>

<!-- Section 3 -->
<div class="content_more">

    <div class="container_box_roadmap">
        <div class="box_text">
            <span class="h1_topic1">Everything you can do in a physical classroom,
            </span>
            <span class="h1_topic2">you can do with TOTC</span>
            <p>
                TOTC’s school management software helps traditional and online
                schools manage scheduling, attendance, payments and virtual
                classrooms all in one secure cloud-based system.
            </p>
            <a href="#">Learn more</a>
            <div class="ellipse"></div>
            <img class="ellipse_13" src="img/ellipse-13.svg" />
        </div>
        <div class="box_image">
            <img src="/img/confident-teacher-explaining-lesson-pupils-1.png"
                alt="confident-teacher-explaining-lesson-pupils-1">
            <div class="rectangle"></div>
            <div class="rectangle_2"></div>
        </div>
    </div>

</div>

<!-- Section 4 -->
<div class="content_more">

    <div class="container_box_certificate">
        <div class="box_image">
            <img src="/img/confident-teacher-explaining-lesson-pupils-2.png"
                alt="confident-teacher-explaining-lesson-pupils-2">
            <div class="rectangle"></div>
            <div class="rectangle_2"></div>
        </div>
        <div class="box_text">
            <span class="h1_topic1">One-on-One
            </span><br>
            <span class="h1_topic2">Discussions</span>
            <p>
                Teachers and teacher assistants can talk with students privately
                without leaving the Zoom environment.
            </p>
            <a href="#">See more features</a>
        </div>
    </div>

</div>