* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
    box-sizing: border-box;
}

.container_main {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.container_main_admin {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}