<div class="container_crud_edit px-3 pt-3">
    <div class="col border-bottom">
        <h1>Editnews</h1>
    </div>
    <div class="col py-3 px-3">
        <div class="row mb-4">
            <h1 class="text-center">โชว์ข้อมูล</h1>
        </div>
        <div class="row mb-4 border-top">
            <div class="col mt-3">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a type="button" class="btn btn-danger" href="/admin-ecop/viewnews">Back</a>
            </div>
        </div>
    </div>
</div>