<div class="container_crud_edit px-3 pt-3">
    <div class="col border-bottom">
        <h1>Editnews</h1>
    </div>
    <div class="col py-3 px-3">
        <div class="row mb-4">
            <h1 class="text-center">โชว์ข้อมูล</h1>
        </div>
        <div class="row mb-4 border-top">
            <div class="col mt-3">
                <div class="mb-3">
                    <!-- เพิ่มรูปภาพ -->
                    <img src="" alt="Image" class="img-fluid">
                    <!-- เพิ่มช่องแสดงชื่อรูป -->
                    <div class="form-group mt-2">
                        <label for="imageName">ชื่อรูปภาพ</label>
                        <input type="text" class="form-control" id="imageName" name="imageName" placeholder="ชื่อรูปภาพ" required>
                    </div>
                </div>
                <!-- เพิ่ม form สำหรับแก้ไขข้อมูล -->
                <form action="/admin-ecop/editnews" method="POST">
                    <div class="mb-3">
                        <label for="title">Title EN</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="TitleEN" required>
                    </div>
                    <div class="mb-3">
                        <label for="titleTh">Title TH</label>
                        <input type="text" class="form-control" id="titleTh" name="titleTh" placeholder="TitleTH" required>
                    </div>
                    <div class="mb-3">
                        <label for="contentEn">Content En</label>
                        <textarea class="form-control" name="contentEn" id="contentEn" cols="30" rows="10" placeholder="contentEn" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="contentTh">Content Th</label>
                        <textarea class="form-control" name="contentTh" id="contentTh" cols="30" rows="10" placeholder="contentTh" required></textarea>
                    </div>
                    <!-- เพิ่ม input fields อื่น ๆ ตามต้องการ -->
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a type="button" class="btn btn-danger" href="/admin-ecop/viewnews">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // เรียกฟังก์ชั่น fetchData() เมื่อหน้าเว็บโหลดเสร็จ
        fetchData();
    });

    function fetchData() {
        // ดึงเลขไอดีจาก query parameter id ใน URL
        const urlParams = new URLSearchParams(window.location.search);
        const newsId = urlParams.get('id');

        // URL ของ API backend
        const baseURL = "<%= process.env.BACKEND_API %>";
        const apiURL = `${baseURL}/api/news/searchNewsById?id=${newsId}`;

        // เรียก API backend เพื่อดึงข้อมูลข่าวตามไอดีที่ระบุ
        fetch(apiURL)
            .then(response => response.json())
            .then(data => {
                // เรียกฟังก์ชั่น showData() เพื่อแสดงข้อมูลที่ได้จาก API
                console.log("🚀 ~ fetchData ~ data:", data);
                showData(data);
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function showData(data) {
    // แสดงข้อมูลในฟอร์ม
    document.getElementById('title').value = data.data.title;
    document.getElementById('titleTh').value = data.data.titleTh;
    document.getElementById('contentEn').value = data.data.contentEn;
    document.getElementById('contentTh').value = data.data.contentTh;
    document.getElementById('imageName').value = data.data.imgLinks;

    // กำหนด URL ของรูปภาพที่ได้รับจากข้อมูล
    const imageUrl = `/images/${data.data.imgLinks}.webp`;

    // กำหนดค่าให้กับแท็ก <img> เพื่อแสดงรูปภาพ
    const imageElement = document.querySelector('.img-fluid');
    imageElement.src = imageUrl;
    imageElement.alt = 'Image';
}

</script>
