<div class="container_crud_edit px-3 pt-3">
    <div class="col border-bottom">
        <h1>Editnews</h1>
    </div>
    <div class="col py-3 px-3">
        <div class="row mb-4">
            <h1 class="text-center">โชว์ข้อมูล</h1>
        </div>
        <div class="row mb-4 border-top">
            <div class="col-md-6 mt-3">
                <div class="mb-3">
                    <!-- เพิ่มรูปภาพ -->
                    <img src="" alt="" class="img-fluid">
                    <!-- เพิ่มช่องแสดงชื่อรูป -->
                    <div class="form-group mt-2">
                        <label for="imageName">ชื่อรูปภาพ</label>
                        <input type="text" class="form-control" id="imageName" name="imageName" placeholder="ชื่อรูปภาพ" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <!-- เพิ่ม form สำหรับแก้ไขข้อมูล -->
                <form method="PUT" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="imageUpload">อัปโหลดรูปภาพใหม่</label>
                        <input type="file" class="form-control" id="imageUpload" name="imageUpload">
                    </div>
                    <div class="mb-3">
                        <label for="id">id</label>
                        <input type="text" class="form-control" id="id" name="id" value="id" readonly>
                    </div>
                    <!-- เพิ่ม input fields อื่น ๆ ตามต้องการ -->
                    <div class="mb-3">
                        <label for="title">Title EN</label>
                        <input type="text" class="form-control" id="title" name="title" value="TitleEN" required>
                    </div>
                    <div class="mb-3">
                        <label for="titleTh">Title TH</label>
                        <input type="text" class="form-control" id="titleTh" name="titleTh" value="TitleTH" required>
                    </div>
                    <div class="mb-3">
                        <label for="contentEn">Content En</label>
                        <textarea class="form-control" name="contentEn" id="contentEn" cols="30" rows="10" value="contentEn" ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="contentTh">Content Th</label>
                        <textarea class="form-control" name="contentTh" id="contentTh" cols="30" rows="10" value="contentTh" ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category">Category</label>
                        <input type="text" class="form-control" id="category" name="category" value="Category" >
                    </div>
                    <div class="mb-3">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" value="Date">
                    </div>
                    
                    <div class="mb-3">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" name="author" value="Author" >
                    </div>
                    <div class="mb-3">
                        <label for="pTags">pTags</label>
                        <textarea class="form-control" name="pTags" id="pTags" cols="30" rows="10" value="pTags" ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editorUsername">Editor Username</label>
                        <input type="text" class="form-control" id="editorUsername" name="editorUsername" placeholder="Editor Username" value="<%= locals.user.username %>" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="ref">Ref</label>
                        <textarea class="form-control" name="ref" id="ref" cols="30" rows="10" value="ref" ></textarea>
                    </div>
                    <!-- เพิ่ม input fields อื่น ๆ ตามต้องการ -->
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a type="button" class="btn btn-danger" href="/admin-ecop/viewnews">Back</a>
                </form>
            </div>
            
        </div>
    </div>
</div>




<script>
    const baseURL = "<%= process.env.BACKEND_API %>";
 const _0x3bd9ae=_0x283a;function _0x283a(_0x17b46c,_0x49579a){const _0x29c294=_0x29c2();return _0x283a=function(_0x283a95,_0x185ae5){_0x283a95=_0x283a95-0xf9;let _0x6560e2=_0x29c294[_0x283a95];return _0x6560e2;},_0x283a(_0x17b46c,_0x49579a);}(function(_0x41bda5,_0x9d3bc2){const _0xc2550d=_0x283a,_0x27e0e6=_0x41bda5();while(!![]){try{const _0x362ff6=-parseInt(_0xc2550d(0x12f))/0x1*(-parseInt(_0xc2550d(0xfb))/0x2)+parseInt(_0xc2550d(0x113))/0x3*(-parseInt(_0xc2550d(0xfe))/0x4)+-parseInt(_0xc2550d(0x124))/0x5+parseInt(_0xc2550d(0x119))/0x6*(-parseInt(_0xc2550d(0x12e))/0x7)+-parseInt(_0xc2550d(0x106))/0x8*(parseInt(_0xc2550d(0x115))/0x9)+parseInt(_0xc2550d(0x10d))/0xa+parseInt(_0xc2550d(0x111))/0xb;if(_0x362ff6===_0x9d3bc2)break;else _0x27e0e6['push'](_0x27e0e6['shift']());}catch(_0x5649da){_0x27e0e6['push'](_0x27e0e6['shift']());}}}(_0x29c2,0x9fd31),document['addEventListener'](_0x3bd9ae(0xfd),function(){const _0x2ccb5a=_0x3bd9ae;fetchData();const _0x48f85a=document[_0x2ccb5a(0x114)](_0x2ccb5a(0x10b));_0x48f85a[_0x2ccb5a(0x107)](_0x2ccb5a(0x11d),async function(_0x1ca825){const _0x138690=_0x2ccb5a;_0x1ca825[_0x138690(0x11b)]();const _0x43245d=document[_0x138690(0x132)]('id')[_0x138690(0x12d)],_0x92df3a=document[_0x138690(0x132)](_0x138690(0x127))[_0x138690(0x12d)],_0x538219=document[_0x138690(0x132)](_0x138690(0x131))['value'],_0x2f190b=document['getElementById'](_0x138690(0x110))['value'],_0x2cd668=document['getElementById']('contentTh')['value'],_0x5b4371=document[_0x138690(0x132)]('category')[_0x138690(0x12d)],_0x3a50a0=document[_0x138690(0x132)](_0x138690(0x128))[_0x138690(0x12d)],_0x52d776=document['getElementById'](_0x138690(0x109))['value'],_0x327aad=document[_0x138690(0x132)](_0x138690(0x112))[_0x138690(0x12d)],_0x447249=document[_0x138690(0x132)]('date')[_0x138690(0x12d)],_0x24f2af=document[_0x138690(0x132)]('author')[_0x138690(0x12d)],_0x17ff68=document[_0x138690(0x132)](_0x138690(0x12c))['files'][0x0];try{const _0x2a19b1=new FormData();_0x2a19b1[_0x138690(0x121)](_0x138690(0x127),_0x92df3a),_0x2a19b1[_0x138690(0x121)](_0x138690(0x131),_0x538219),_0x2a19b1[_0x138690(0x121)]('contentEn',_0x2f190b),_0x2a19b1[_0x138690(0x121)](_0x138690(0x130),_0x2cd668),_0x2a19b1['append'](_0x138690(0x120),_0x5b4371),_0x2a19b1['append'](_0x138690(0x128),_0x3a50a0),_0x2a19b1['append'](_0x138690(0x109),_0x52d776),_0x2a19b1[_0x138690(0x121)](_0x138690(0x112),_0x327aad),_0x2a19b1[_0x138690(0x121)](_0x138690(0x11a),_0x447249),_0x2a19b1[_0x138690(0x121)]('author',_0x24f2af),_0x2a19b1[_0x138690(0x121)]('imageUpload',_0x17ff68);const _0x1844c4=await fetch(baseURL+_0x138690(0x123)+_0x43245d,{'method':_0x138690(0x125),'credentials':_0x138690(0x101),'body':_0x2a19b1});if(!_0x1844c4['ok'])throw new Error(_0x138690(0x12b));const _0x26dfe2=await _0x1844c4['json']();Swal[_0x138690(0xff)]({'icon':_0x138690(0x116),'title':_0x138690(0x10e),'text':_0x138690(0x12a),'timer':0x5dc})['then'](()=>{const _0x57d030=_0x138690;location[_0x57d030(0x100)]();});}catch(_0x8256ad){console[_0x138690(0x104)]('Error\x20adding\x20news:',_0x8256ad),Swal[_0x138690(0xff)]({'icon':'error','title':_0x138690(0x10f),'text':_0x138690(0x10a)});}});}));function fetchData(){const _0x268db2=_0x3bd9ae,_0x3614f3=getNewsIdFromURL(),_0x53976c=baseURL+_0x268db2(0x108)+_0x3614f3;fetch(_0x53976c)[_0x268db2(0x133)](_0x19f779=>_0x19f779[_0x268db2(0xfc)]())[_0x268db2(0x133)](_0x435c8c=>showData(_0x435c8c))[_0x268db2(0x105)](_0x155e09=>console[_0x268db2(0x104)](_0x268db2(0x102),_0x155e09));}function _0x29c2(){const _0x2b835a=['pTags','imgLinks','News\x20added\x20successfully!','Failed\x20to\x20add\x20news','imageUpload','value','11116KDZVXt','7tPNZcM','contentTh','titleTh','getElementById','then','data','alt','329370gNjHSd','json','DOMContentLoaded','168fvMRIJ','fire','reload','include','Error\x20fetching\x20data:','.webp','error','catch','8sdzMpv','addEventListener','/api/news/searchNewsById?id=','ref','Failed\x20to\x20add\x20news!','form','Image','7495940AlWDUx','Success','Error','contentEn','15187216zRKFDj','editorUsername','47871YZXiBW','querySelector','1821303yaECrY','success','imageName','/images/','2442xoiuWs','date','preventDefault','author','submit','location','search','category','append','.img-fluid','/api/news/','5547635csyoEs','PUT','src','title'];_0x29c2=function(){return _0x2b835a;};return _0x29c2();}function showData(_0x842cae){const _0x16e2cf=_0x3bd9ae;document['getElementById']('id')[_0x16e2cf(0x12d)]=_0x842cae['data']['id'],document['getElementById'](_0x16e2cf(0x127))[_0x16e2cf(0x12d)]=_0x842cae[_0x16e2cf(0xf9)]['title'],document[_0x16e2cf(0x132)](_0x16e2cf(0x131))[_0x16e2cf(0x12d)]=_0x842cae['data'][_0x16e2cf(0x131)],document[_0x16e2cf(0x132)](_0x16e2cf(0x110))[_0x16e2cf(0x12d)]=_0x842cae[_0x16e2cf(0xf9)]['contentEn'],document['getElementById'](_0x16e2cf(0x130))['value']=_0x842cae[_0x16e2cf(0xf9)]['contentTh'],document['getElementById'](_0x16e2cf(0x117))['value']=_0x842cae[_0x16e2cf(0xf9)][_0x16e2cf(0x129)],document['getElementById'](_0x16e2cf(0x11a))[_0x16e2cf(0x12d)]=_0x842cae[_0x16e2cf(0xf9)]['date'],document[_0x16e2cf(0x132)]('category')[_0x16e2cf(0x12d)]=_0x842cae[_0x16e2cf(0xf9)][_0x16e2cf(0x120)],document[_0x16e2cf(0x132)](_0x16e2cf(0x11c))['value']=_0x842cae[_0x16e2cf(0xf9)]['author'],document[_0x16e2cf(0x132)](_0x16e2cf(0x128))[_0x16e2cf(0x12d)]=_0x842cae['data'][_0x16e2cf(0x128)],document[_0x16e2cf(0x132)](_0x16e2cf(0x109))[_0x16e2cf(0x12d)]=_0x842cae['data'][_0x16e2cf(0x109)];const _0x17e6c4=_0x16e2cf(0x118)+_0x842cae[_0x16e2cf(0xf9)][_0x16e2cf(0x129)]+_0x16e2cf(0x103),_0x4ef556=document['querySelector'](_0x16e2cf(0x122));_0x4ef556[_0x16e2cf(0x126)]=_0x17e6c4,_0x4ef556[_0x16e2cf(0xfa)]=_0x16e2cf(0x10c);}function getNewsIdFromURL(){const _0x5655a8=_0x3bd9ae,_0x3444d4=new URLSearchParams(window[_0x5655a8(0x11e)][_0x5655a8(0x11f)]);return _0x3444d4['get']('id');}
</script>