<div class="container_admin_login">
    <div class="container_login">
        <div class="ecop_logo">
            <img src="/img/logo_alt.png" alt="logo_alt">
        </div>
        <form class="box_login" action="/admin-ecop/submit_login" method="POST">
            <!-- <div class="forum_login">
                <span>Username</span>
                <input type="text">
            </div>
            <div class="forum_login">
                <span>Password</span>
                <input type="password">
            </div>
            <div class="forum_btn">
                <div class="container_rememberme">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Remember Me</label>
                </div> -->
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>