<div class="container_crud_news px-3 pt-3">
    <div class="container_create">
        <a type="button" class="btn btn-primary" href="/admin-ecop/createnews">Add News</a>
    </div>
    <div class="container_news border-top mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">no</th>
                    <th scope="col">title</th>
                    <th scope="col">date</th>
                    <th scope="col" class="text-end">#</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td>1</td>
                    <td>News</td>
                    <td>11/11/2024</td>
                    <td>
                        <div class="d-flex flex-row justify-content-end">
                            <a href="/admin-ecop/viewnews" type="button" class="btn btn-warning me-2">details</a>
                            <a href="#" type="button" class="btn btn-danger">delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>