<div class="container_crud_view px-3 pt-3">
    <div class="col border-bottom">
        <h1>Details</h1>
    </div>
    <div class="col py-3 px-3">
        <div class="row mb-4">
            <h1 class="text-center">โชว์ข้อมูล</h1>
        </div>
        <div class="row mb-4 border-top">
            <div class="col py-2 d-flex justify-content-between">
                <a type="button" class="btn btn-warning" href="/admin-ecop/editnews">edit</a>
                <a type="button" class="btn btn-danger" href="/admin-ecop/news">Back</a>
            </div>
        </div>
    </div>
</div>