<!-- หน้าเว็บที่แสดงข่าว news.ejs -->
<div class="container_news">
    <h1>News</h1>
    <img id="news-image" src="" alt="">
    <div class="header_news">
        <h1 id="news-title"></h1>
        <span id="news-date"></span>
    </div>
    <div class="desc_news" id="news-content">
    </div>
</div>

<script>
    window.onload = async function () {
        try {
            // ดึง ID ข่าวจาก URL
            const newsId = window.location.pathname.split('/').pop();

            // ส่งข้อมูล ID ไปยัง backend เพื่อค้นหาข้อมูลข่าว
            const response = await fetch(`http://localhost:8000/api/news/searchNewsById?id=${newsId}`);
            const data = await response.json();
            console.log("🚀 ~ data:", data)

            // ตรวจสอบว่าข้อมูลข่าวถูกค้นพบหรือไม่
            if (data && data.success && data.data) {
                const selectedNews = data.data; // ข้อมูลข่าวที่ค้นพบ

                // สร้าง URL สมบูรณ์โดยเชื่อมต่อ path รูปภาพกับ URL ของรูปภาพใน object ข่าว
                const imageUrl = `/images/${selectedNews.imgLinks}.webp`;

                // ตั้งค่า src attribute ของรูปภาพในแท็ก <img>
                document.getElementById('news-image').setAttribute('src', imageUrl);
                // นำข้อมูลมาแสดงใน HTML
                document.getElementById('news-title').textContent = selectedNews.titleTh;
                
                // แปลงรูปแบบของวันที่ให้เป็น "เดือน วัน, ปี"
                const formattedDate = new Date(selectedNews.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
                document.getElementById('news-date').textContent = formattedDate;
                
                // ใช้ innerHTML เพื่อแสดง tag HTML ที่ติดมาด้วย
                document.getElementById('news-content').innerHTML = selectedNews.contentTh;
            } else {
                console.log('News not found.');
            }
        } catch (error) {
            console.error('Error loading news:', error);
        }
    };
</script>
