<!-- à¸«à¸™à¹‰à¸²à¹€à¸§à¹‡à¸šà¸—à¸µà¹ˆà¹à¸ªà¸”à¸‡à¸‚à¹ˆà¸²à¸§ news.ejs -->
<div class="container_news">
    <img id="news-image" src="" alt="">
    <div class="header_news">
        <h1 id="news-title"></h1>
        <span id="news-date"></span>
    </div>
    <div class="desc_news" id="news-content">
    </div>
</div>

<script>
    window.onload = async function () {
        const baseURL = "<%= process.env.BACKEND_API %>";
        try {
            // Extract news ID from URL
            const newsId = window.location.pathname.split('/').pop();

            // Fetch news data from the backend
            const response = await fetch(`${baseURL}/api/news/searchNewsById?id=${newsId}`);
            const data = await response.json();
            console.log("ðŸš€ ~ data:", data)

            // Check if news data is found
            if (data && data.success && data.data) {
                const selectedNews = data.data; // Found news data
                updateNewsUI(selectedNews);
            } else {
                console.log('News not found.');
            }
        } catch (error) {
            console.error('Error loading news:', error);
        }
    };

    // Function to remove HTML tags from content
    const removeHTMLTags = (str) => {
        return str.replace(/<[^>]*>/g, "");
    };

    function updateNewsUI(selectedNews) {
        // Construct complete URL for the image
        const imageUrl = `/images/${selectedNews.imgLinks}.webp`;

        // Set src attribute of the image tag
        document.getElementById('news-image').setAttribute('src', imageUrl);

        // Set text content of news title after removing HTML tags
        const newsTitle = removeHTMLTags(selectedNews.titleTh);
        document.getElementById('news-title').textContent = newsTitle;

        // Format date as "Month Day, Year"
        const formattedDate = new Date(selectedNews.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
        document.getElementById('news-date').textContent = formattedDate;

        // Set innerHTML to display HTML content after removing HTML tags
        const newsContent = removeHTMLTags(selectedNews.contentTh);
        document.getElementById('news-content').innerHTML = newsContent;
    }
</script>
