<div class="container_news">
    <h1>News</h1>
    <img id="news-image" src="" alt="">

    <div class="header_news">
        <h1 id="news-title"></h1>
        <span id="news-date"></span>
    </div>
    <div class="desc_news">
        <p id="news-content"></p>
    </div>
</div>

<script>
 window.onload = function () {
    const selectedNews = JSON.parse(localStorage.getItem('selectedNews'));
    if (selectedNews) {
        // สร้าง URL สมบูรณ์โดยเชื่อมต่อ path รูปภาพกับ URL ของรูปภาพใน object ข่าว
        const imageUrl = `/images/${selectedNews.imgUrl}.webp`;
        
        // ตั้งค่า src attribute ของรูปภาพในแท็ก <img>
        document.getElementById('news-image').setAttribute('src', imageUrl);
        // นำข้อมูลมาแสดงใน HTML
        document.getElementById('news-title').textContent = selectedNews.titleTh;
        document.getElementById('news-date').textContent = selectedNews.date;
        document.getElementById('news-content').textContent = selectedNews.contentTh;
    }
};


</script>
