<script>
  const baseURL = "<%= process.env.BACKEND_API %>";
 const _0x27848e=_0x84e0;function _0x49e9(){const _0x277f83=['split','118HwyggE','error','news-content','contentTh','date','/api/news/searchNewsById?id=','setAttribute','4544550oCVCpQ','news-ref','</a>','src','en-US','onload','7fUxKGB','3812zFIwjj','/images/','pop','N/A','News\x20not\x20found.','27834dWKvsH','Error\x20loading\x20news:','news-view-count','news-date','long','5290mEjVwD','trend_new','2574801ImZZxz','textContent','news-image','titleTh','data','title','numeric','viewCount','news-trending','imgLinks','category','1675400FETUKW','305taPblo','pathname','json','innerHTML','replace','getElementById','ref','690234KzGnCE','log','news-p-tags'];_0x49e9=function(){return _0x277f83;};return _0x49e9();}function _0x84e0(_0x332d63,_0xd9769e){const _0x49e98b=_0x49e9();return _0x84e0=function(_0x84e0ab,_0x66f903){_0x84e0ab=_0x84e0ab-0x1d9;let _0x317099=_0x49e98b[_0x84e0ab];return _0x317099;},_0x84e0(_0x332d63,_0xd9769e);}(function(_0x553a22,_0x28f2ae){const _0x40962f=_0x84e0,_0x31bd9c=_0x553a22();while(!![]){try{const _0x55a818=-parseInt(_0x40962f(0x1f4))/0x1*(-parseInt(_0x40962f(0x1dc))/0x2)+-parseInt(_0x40962f(0x209))/0x3+parseInt(_0x40962f(0x1ea))/0x4*(parseInt(_0x40962f(0x202))/0x5)+-parseInt(_0x40962f(0x1ef))/0x6*(-parseInt(_0x40962f(0x1e9))/0x7)+parseInt(_0x40962f(0x201))/0x8+parseInt(_0x40962f(0x1f6))/0x9+-parseInt(_0x40962f(0x1e3))/0xa;if(_0x55a818===_0x28f2ae)break;else _0x31bd9c['push'](_0x31bd9c['shift']());}catch(_0x203dca){_0x31bd9c['push'](_0x31bd9c['shift']());}}}(_0x49e9,0x2d607),window[_0x27848e(0x1e8)]=async function(){const _0x20bf4a=_0x27848e;try{const _0xd80a34=window['location'][_0x20bf4a(0x203)][_0x20bf4a(0x1db)]('/')[_0x20bf4a(0x1ec)](),_0x3745e2=await fetch(baseURL+_0x20bf4a(0x1e1)+_0xd80a34),_0x452cc5=await _0x3745e2[_0x20bf4a(0x204)]();console[_0x20bf4a(0x1d9)]('🚀\x20~\x20data:',_0x452cc5);if(_0x452cc5&&_0x452cc5['success']&&_0x452cc5['data']){const _0x243c4e=_0x452cc5[_0x20bf4a(0x1fa)];updateNewsUI(_0x243c4e);}else console[_0x20bf4a(0x1d9)](_0x20bf4a(0x1ee));}catch(_0x124be8){console[_0x20bf4a(0x1dd)](_0x20bf4a(0x1f0),_0x124be8);}});const removeHTMLTags=_0x46b7d1=>{const _0x4235f7=_0x27848e;let _0x508d2e=_0x46b7d1[_0x4235f7(0x206)](/<[^>]*>/g,'');return _0x508d2e=_0x508d2e['replace'](/class\s*=\s*["'][^"']*["']/g,''),_0x508d2e;};function updateNewsUI(_0x1c6859){const _0x502053=_0x27848e,_0x208510=_0x502053(0x1eb)+_0x1c6859[_0x502053(0x1ff)]+'.webp';document[_0x502053(0x207)](_0x502053(0x1f8))[_0x502053(0x1e2)](_0x502053(0x1e6),_0x208510);const _0xd7c4ec=removeHTMLTags(_0x1c6859[_0x502053(0x1f9)]);document['getElementById']('news-title')[_0x502053(0x1f7)]=_0xd7c4ec;const _0x2e6aa9=removeHTMLTags(_0x1c6859[_0x502053(0x1fb)]),_0x1c74f2=new Date(_0x1c6859[_0x502053(0x1e0)])['toLocaleDateString'](_0x502053(0x1e7),{'year':_0x502053(0x1fc),'month':_0x502053(0x1f3),'day':_0x502053(0x1fc)});document[_0x502053(0x207)](_0x502053(0x1f2))['textContent']=_0x1c74f2;const _0x3f99f5=removeHTMLTags(_0x1c6859[_0x502053(0x1df)]);document[_0x502053(0x207)](_0x502053(0x1de))[_0x502053(0x205)]=_0x3f99f5,_0x1c6859[_0x502053(0x208)]?document['getElementById'](_0x502053(0x1e4))[_0x502053(0x205)]='<a\x20href=\x22'+_0x1c6859[_0x502053(0x208)]+'\x22>'+_0x2e6aa9+_0x502053(0x1e5):document[_0x502053(0x207)](_0x502053(0x1e4))['innerHTML']=_0x502053(0x1ed),document[_0x502053(0x207)](_0x502053(0x1fe))[_0x502053(0x1f7)]=_0x1c6859[_0x502053(0x1f5)],document[_0x502053(0x207)](_0x502053(0x1f1))['textContent']=_0x1c6859[_0x502053(0x1fd)],document['getElementById'](_0x502053(0x1da))[_0x502053(0x1f7)]=_0x1c6859['pTags'],document[_0x502053(0x207)]('news-category')[_0x502053(0x1f7)]=_0x1c6859[_0x502053(0x200)];}
</script>


<style>
  .container_news {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #news-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .header_news {
    margin-bottom: 10px;
  }

  #news-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  #news-date {
    color: #888;
  }

  .desc_news {
    line-height: 1.6;
  }

  .news-info {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .news-info p {
    margin: 10px 0;
  }

  .news-info strong {
    font-weight: bold;
    margin-right: 5px;
  }

  .news-info span {
    color: #555;
  }
</style>

<div class="container_news">
  <img id="news-image" src="" alt="" />
  <div class="header_news">
    <h1 id="news-title"></h1>
    <span id="news-date"></span>
  </div>
  <div class="desc_news" id="news-content"></div>
  <div class="news-info">
    <p><strong>Reference:</strong> <span id="news-ref"></span></p>
    <p><strong>Trending:</strong> <span id="news-trending"></span></p>
    <p><strong>View Count:</strong> <span id="news-view-count"></span></p>
    <p><strong>pTags:</strong> <span id="news-p-tags"></span></p>
    <p><strong>Category:</strong> <span id="news-category"></span></p>
  </div>
</div>