<nav>
    <a href="/"><img src="img/logo_alt.png" class="logo"></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Data Breaches</a></li>
        <li><a href="/blog">Cyber Attacks</a></li>
        <li><a href="#">Vulberabilities</a></li>
    </ul>
    <button class="btn_nav_log">Login</button>
    <button class="btn_nav_sing">SignUp</button>
</nav>