<footer>
    <div class="container-fluid" id="background_footer">
        <div class="row" id="row_footer">
            <div class="col-md-3 border-end" id="col_footer">
                <img src="/img/logo.png" alt="" height="100">
            </div>
            <div class="col-md-3" id="col2_footer">
                <h1>Virtual Class</h1>
                <h1>for Zoom</h1>
            </div>
        </div>
        <div class="row" id="row2_footer">
            <h1>Subscribe to get our Newsletter</h1>
        </div>
        <div class="row" id="form_footer">
            <div class="col-md-3" id="col_input">
                <input class="form-control" id="input" type="text" placeholder="Your Email"
                    aria-label="default input example">
            </div>
            <div class="col-md-3 ">
                <input class="btn" id="submit" type="submit" value="Subscribe">
            </div>
        </div>
        <div class="row" id="row_careers">
            <ul>
                <li><a href="">Careers</a></li>
                <li><a href="">Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="row" id="row_credit">
            <h1>© 2021 Class Technologies Inc.</h1>
        </div>
    </div>
</footer>