<nav>
    <img src="img/logo_alt.png" class="logo">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <button class="btn_nav_log">Login</button>
    <button class="btn_nav_sing">SignUp</button>
</nav>