<div class="container_blog">
    <div class="content_banner">
        <div class="content_text_blog">
            <div class="content_line1">
                <span>By Themadbrains in</span>
                <span id="span_blue">inspiration</span>
            </div>
            <div class="content_line2">
                <h1>Why Swift UI Should Be on the Radar of Every Mobile Developer</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempos Lorem ipsum dolor
                    sitamet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="content_line3">
                <a href="#" type="button">Start learning now</a>
            </div>
        </div>
        <div class="content_img_blog">
            <img src="/img/darkweb.png" alt="">
        </div>
    </div>
</div>

<div class="content_blog_list">
    <div class="header_blog_list">
        <h1>Reading blog list</h1>
    </div>
    <div class="main_blog_list">
        <a href="#" class="content_blog">
            <div class="blog_image">
                <img src="/img/blog1.jpg" alt="">
            </div>
            <span>Cyber Attack</span>
        </a>
        <a href="#" class="content_blog">
            <div class="blog_image">
                <img src="/img/blog2.jpg" alt="">
            </div>
            <span>Malware</span>
        </a>
        <a href="#" class="content_blog">
            <div class="blog_image">
                <img src="/img/blog3.jpg" alt="">
            </div>
            <span>Cyber Threat</span>
        </a>
        <a href="#" class="content_blog">
            <div class="blog_image">
                <img src="/img/blog4.jpg" alt="">
            </div>
            <span>Vulnerability</span>
        </a>
    </div>
</div>

<div class="content_related_blog">
    <div class="header_blog_list">
        <h1>Trending News</h1>
    </div>
    <div class="main_related_blog">
        <!-- <div class="related_blog">
            <div class="related_blog_img">
                <img src="img/rectangle-87.webp" alt="">
            </div>
            <div class="related_blog_topic">
                <h1></h1>
            </div>
            <div class="related_blog_desc">

            </div>
            <div class="related_blog_read_more">
                <a href="">Read More</a>
            </div>
            <div class="related_blog_option">
                <div class="profile_blog_writing">
                    <img src="img/rectangle-21.png" alt="">
                    <span></span>
                </div>
                <div class="related_blog_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="related_blog">
            <div class="related_blog_img">
                <img src="img/rectangle-86.webp" alt="">
            </div>
            <div class="related_blog_topic">
                <h1></h1>
            </div>
            <div class="related_blog_desc">
            </div>
            <div class="related_blog_read_more">
                <a href="">Read More</a>
            </div>
            <div class="related_blog_option">
                <div class="profile_blog_writing">
                    <img src="img/rectangle-21.png" alt="">
                    <span></span>
                </div>
                <div class="related_blog_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="arrow">

    </div>
</div>

<div class="content_maketing_articles">
    <div class="header_blog_list">
        <h1>News Articles</h1>
    </div>
    <div class="search_blog_list">
        <input type="text">
    </div>
    <div class="main_maketing_articles">
        <!-- <div class="maketing_articles">
            <div class="articles_img">
                <img src="" alt="">
            </div>
            <div class="header_articles">
                <h1></h1>
            </div>
            <div class="desc_articles">
                <p> </p>
            </div>
            <div class="article_option">
                <div class="profile_article_writing">
                    <img src="" alt="">
                    <span></span>
                </div>
                <div class="related_article_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div> -->
</div>

<div class="container_pagination">
    <a class="pagination-newer" href="#">PREV</a>
				<span class="pagination-inner">
					<a href="#">1</a>
					<a class="pagination-active" href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
				</span>
				<a class="pagination-older" href="#">NEXT</a>
</div>

<script>
window.onload = async function () {
    try {
        const maxTextLength = 100;

        // Function to fetch data from the provided URL
        const fetchData = async (url) => {
            const response = await fetch(url);
            return await response.json();
        };

        // Function to create a news item element
        const createNewsItem = (newsItem) => {
            const item = document.createElement('div');
            item.classList.add('maketing_articles');

            // HTML template for the news item
            item.innerHTML = `
            <div class="container_box_articles">
                <div class="articles_img">
                    <img src="/images/${newsItem.imgLinks}.webp" alt="${newsItem.imgLinks}">
                </div>
                <div class="header_articles">
                    <h1>${newsItem.titleTh}</h1>
                </div>
                <div class="desc_articles">
                    <p>${newsItem.contentTh.substring(0, maxTextLength)}${newsItem.contentTh.length > maxTextLength ? '...' : ''}</p>
                </div>
                <a href="#" class="read-more-button" 
                       data-news-id="${newsItem.id}"
                       data-img-url="${newsItem.imgLinks}"
                       data-title-th="${newsItem.titleTh}"
                       data-content-th="${newsItem.contentTh}"
                       type="button">Read More</a>
                    </div>
                <div class="article_option">
                       <div class="profile_article_writing">
                        <img src="img/rectangle-21.png" alt="">
                        <span>${newsItem.author}</span>
                    </div>
                    <div class="related_article_view">
                        <i class="fa-solid fa-eye"></i>
                        <span>${newsItem.viewCount}</span>
                    </div>
                </div>
            `;
            return item;
        };

        // Select the containers for marketing articles and related blogs
        const marketingArticlesContainer = document.querySelector('.main_maketing_articles');
        const relatedBlogContainer = document.querySelector('.main_related_blog');

        // Fetch news data and trending data concurrently
        const [newsData, trendingData] = await Promise.all([
            fetchData('http://localhost:8000/api/news'),
            fetchData('http://localhost:8000/api/news/search?trendNew=Trending%20News')
        ]);

        // Render news items in the marketing articles container
        newsData.news.forEach(newsItem => {
            marketingArticlesContainer.appendChild(createNewsItem(newsItem));
        });

        // Render trending news items in the related blog container
        trendingData.data.forEach(newsItem => {
            relatedBlogContainer.appendChild(createNewsItem(newsItem));
        });

        // Event delegation for "Read More" buttons
        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('read-more-button')) {
                event.preventDefault();
                const button = event.target;
                const { newsId, imgUrl, titleTh, contentTh } = button.dataset;

                // Store selected news data in localStorage
                localStorage.setItem('selectedNews', JSON.stringify({ newsId, imgUrl, titleTh, contentTh }));

                const url = `/news/${newsId}`;
                window.location.href = url;
            }
        });

    } catch (error) {
        console.error('Error loading data:', error);
    }
};



</script>