<div class="container_blog">
    <div class="content_banner">
        <div class="content_text_blog">
            <div class="content_line1">
                <span>By Themadbrains in</span>
                <span id="span_blue">inspiration</span>
            </div>
            <div class="content_line2">
                <h1>Why Swift UI Should Be on the Radar of Every Mobile Developer</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempos Lorem ipsum dolor
                    sitamet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="content_line3">
                <a href="#" type="button">Start learning now</a>
            </div>
        </div>
        <div class="content_img_blog">
            <img src="/img/darkweb.png" alt="">
        </div>
    </div>
</div>

<div class="content_blog_list">
    <div class="header_blog_list">
        <h1>Reading blog list</h1>
    </div>
    <div class="main_blog_list">
        <div class="content_blog">
            <div class="blog_image">
                <img src="/img/blog1.jpg" alt="">
            </div>
            <span>Cyber Attack</span>
        </div>
        <div class="content_blog">
            <div class="blog_image">
                <img src="/img/blog2.jpg" alt="">
            </div>
            <span>Malware</span>
        </div>
        <div class="content_blog">
            <div class="blog_image">
                <img src="/img/blog3.jpg" alt="">
            </div>
            <span>Cyber Threat</span>
        </div>
        <div class="content_blog">
            <div class="blog_image">
                <img src="/img/blog4.jpg" alt="">
            </div>
            <span>Vulnerability</span>
        </div>
    </div>
</div>

<div class="content_related_blog">
    <div class="header_blog_list">
        <h1>Trending News</h1>
    </div>
    <div class="main_related_blog">
        <!-- <div class="related_blog">
            <div class="related_blog_img">
                <img src="img/rectangle-87.webp" alt="">
            </div>
            <div class="related_blog_topic">
                <h1></h1>
            </div>
            <div class="related_blog_desc">

            </div>
            <div class="related_blog_read_more">
                <a href="">Read More</a>
            </div>
            <div class="related_blog_option">
                <div class="profile_blog_writing">
                    <img src="img/rectangle-21.png" alt="">
                    <span></span>
                </div>
                <div class="related_blog_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="related_blog">
            <div class="related_blog_img">
                <img src="img/rectangle-86.webp" alt="">
            </div>
            <div class="related_blog_topic">
                <h1></h1>
            </div>
            <div class="related_blog_desc">
            </div>
            <div class="related_blog_read_more">
                <a href="">Read More</a>
            </div>
            <div class="related_blog_option">
                <div class="profile_blog_writing">
                    <img src="img/rectangle-21.png" alt="">
                    <span></span>
                </div>
                <div class="related_blog_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="arrow">

    </div>
</div>

<div class="content_maketing_articles">
    <div class="header_blog_list">
        <h1>News Articles</h1>
    </div>
    <div class="main_maketing_articles">
        <!-- <div class="maketing_articles">
            <div class="articles_img">
                <img src="" alt="">
            </div>
            <div class="header_articles">
                <h1></h1>
            </div>
            <div class="desc_articles">
                <p> </p>
            </div>
            <div class="article_option">
                <div class="profile_article_writing">
                    <img src="" alt="">
                    <span></span>
                </div>
                <div class="related_article_view">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
            </div>
        </div> -->
</div>

<script>
 window.onload = async function () {
    try {
        // Fetch news data from 'http://localhost:8000/api/news'
        const response = await fetch('http://localhost:8000/api/news');
        const data = await response.json();
        const news = data.news; // Select only news data
        const maxTextLength = 100;

        // Select the container for marketing articles
        const marketingArticlesContainer = document.querySelector('.main_maketing_articles');

        // Loop through each news item
        news.forEach(newsItem => {
            // Create elements for each news item
            const marketingArticleItem = document.createElement('div');
            marketingArticleItem.classList.add('maketing_articles');

            const articlesImg = document.createElement('div');
            articlesImg.classList.add('articles_img');
            articlesImg.innerHTML = `<img src="/images/${newsItem.imgLinks}.webp" alt="${newsItem.imgLinks}">`;

            const headerArticles = document.createElement('div');
            headerArticles.classList.add('header_articles');
            headerArticles.innerHTML = `<h1>${newsItem.titleTh}</h1>`;

            const descArticles = document.createElement('div');
            descArticles.classList.add('desc_articles');
            // Limit the content length to maxTextLength characters
            const truncatedContent = newsItem.contentTh.length > maxTextLength ?
                `${newsItem.contentTh.substring(0, maxTextLength)}...` :
                newsItem.contentTh;
            descArticles.innerHTML = `<p>${truncatedContent}</p>`;

            const articleOption = document.createElement('div');
            articleOption.classList.add('article_option');
            articleOption.innerHTML = `
                <div class="profile_article_writing">
                    <img src="img/rectangle-21.png" alt="">
                    <span>${newsItem.author}</span>
                </div>
                <div class="related_article_view">
                    <i class="fa-solid fa-eye"></i>
                    <span>${newsItem.viewCount}</span>
                </div>
            `;

            // Append elements to the marketing article container
            marketingArticleItem.appendChild(articlesImg);
            marketingArticleItem.appendChild(headerArticles);
            marketingArticleItem.appendChild(descArticles);
            marketingArticleItem.appendChild(articleOption);

            marketingArticlesContainer.appendChild(marketingArticleItem);
        });

        // Fetch trending news data from 'http://localhost:8000/api/news/search?trendNew=Trending%20News'
        const trendingResponse = await fetch('http://localhost:8000/api/news/search?trendNew=Trending%20News');
        const trendingData = await trendingResponse.json();
        const trendingNews = trendingData.data;
        console.log("🚀 ~ trendingNews:", trendingNews)

        // Select the container for related blog
        const relatedBlogContainer = document.querySelector('.main_related_blog');

        // Loop through each trending news item
      // Loop through each trending news item
trendingNews.forEach(newsItem => {
    // Create elements for each trending news item
    const relatedBlogItem = document.createElement('div');
    relatedBlogItem.classList.add('related_blog');

    const relatedBlogImg = document.createElement('div');
    relatedBlogImg.classList.add('related_blog_img');
    relatedBlogImg.innerHTML = `<img src="/images/${newsItem.imgLinks}.webp" alt="${newsItem.imgLinks}">`;

    const relatedBlogTopic = document.createElement('div');
    relatedBlogTopic.classList.add('related_blog_topic');
    relatedBlogTopic.innerHTML = `<h1>${newsItem.titleTh}</h1>`;

    const relatedBlogDesc = document.createElement('div');
    relatedBlogDesc.classList.add('related_blog_desc');
    // Limit the content length to maxTextLength characters
    const truncatedContent = newsItem.contentTh.length > maxTextLength ?
        `${newsItem.contentTh.substring(0, maxTextLength)}...` :
        newsItem.contentTh;
    relatedBlogDesc.innerHTML = `<p>${truncatedContent}</p>`;

    const relatedBlogReadMore = document.createElement('div');
    relatedBlogReadMore.classList.add('related_blog_read_more');
    relatedBlogReadMore.innerHTML = `<a href="${newsItem.url}">Read More</a>`;

    const relatedBlogOption = document.createElement('div');
    relatedBlogOption.classList.add('related_blog_option');
    relatedBlogOption.innerHTML = `
        <div class="profile_blog_writing">
            <img src="img/rectangle-21.png" alt="">
            <span>${newsItem.author}</span>
        </div>
        <div class="related_blog_view">
            <i class="fa-solid fa-eye"></i>
            <span>${newsItem.viewCount}</span>
        </div>
    `;

    // Append elements to the related blog container
    relatedBlogItem.appendChild(relatedBlogImg);
    relatedBlogItem.appendChild(relatedBlogTopic);
    relatedBlogItem.appendChild(relatedBlogDesc);
    relatedBlogItem.appendChild(relatedBlogReadMore);
    relatedBlogItem.appendChild(relatedBlogOption);

    relatedBlogContainer.appendChild(relatedBlogItem);
});

    } catch (error) {
        console.error('Error loading data:', error);
    }
}





</script>