<script>
  (function(_0x43ff21,_0x1fba3e){const _0x27a82e=_0x2ecf,_0x1fd2e9=_0x43ff21();while(!![]){try{const _0x494645=parseInt(_0x27a82e(0x19d))/0x1+parseInt(_0x27a82e(0x192))/0x2*(-parseInt(_0x27a82e(0x191))/0x3)+parseInt(_0x27a82e(0x197))/0x4*(-parseInt(_0x27a82e(0x18f))/0x5)+parseInt(_0x27a82e(0x19f))/0x6*(-parseInt(_0x27a82e(0x196))/0x7)+-parseInt(_0x27a82e(0x190))/0x8*(-parseInt(_0x27a82e(0x193))/0x9)+parseInt(_0x27a82e(0x19a))/0xa+parseInt(_0x27a82e(0x19e))/0xb;if(_0x494645===_0x1fba3e)break;else _0x1fd2e9['push'](_0x1fd2e9['shift']());}catch(_0x384f46){_0x1fd2e9['push'](_0x1fd2e9['shift']());}}}(_0x476b,0x672d7));let slideIndex=0x0;showSlides();function showSlides(){const _0x1665e1=_0x2ecf;let _0x19bb04=document[_0x1665e1(0x19c)](_0x1665e1(0x194));for(let _0x21bdd7=0x0;_0x21bdd7<_0x19bb04[_0x1665e1(0x199)];_0x21bdd7++){_0x19bb04[_0x21bdd7]['style']['display']=_0x1665e1(0x198);}slideIndex++,slideIndex>_0x19bb04[_0x1665e1(0x199)]&&(slideIndex=0x1),_0x19bb04[slideIndex-0x1][_0x1665e1(0x195)][_0x1665e1(0x19b)]='block',setTimeout(showSlides,0x1770);}function _0x2ecf(_0x13f2f1,_0x3713de){const _0x476bbb=_0x476b();return _0x2ecf=function(_0x2ecfb5,_0x316ed9){_0x2ecfb5=_0x2ecfb5-0x18f;let _0x1c3d2c=_0x476bbb[_0x2ecfb5];return _0x1c3d2c;},_0x2ecf(_0x13f2f1,_0x3713de);}function _0x476b(){const _0x7ab761=['getElementsByClassName','25233skegpU','6331886cUDBjI','6DJCMwp','220aPhjqK','56StpAdW','4626IeVlhG','436pvgvvk','108279UWnmtQ','mySlides','style','4387362rbkltB','5572ufZuSD','none','length','7617530vPhVNA','display'];_0x476b=function(){return _0x7ab761;};return _0x476b();}
</script>


<script>
  const baseURL = "<%= process.env.BACKEND_API %>";
 function _0x7798(_0x955868,_0x36b068){const _0x16c28c=_0x16c2();return _0x7798=function(_0x7798ba,_0x576bbc){_0x7798ba=_0x7798ba-0x15c;let _0x128874=_0x16c28c[_0x7798ba];return _0x128874;},_0x7798(_0x955868,_0x36b068);}const _0x5b1b9e=_0x7798;(function(_0x5459f3,_0x1ef8eb){const _0x63056b=_0x7798,_0x511136=_0x5459f3();while(!![]){try{const _0x41d074=-parseInt(_0x63056b(0x170))/0x1+-parseInt(_0x63056b(0x168))/0x2*(-parseInt(_0x63056b(0x15c))/0x3)+parseInt(_0x63056b(0x171))/0x4*(-parseInt(_0x63056b(0x177))/0x5)+parseInt(_0x63056b(0x165))/0x6+parseInt(_0x63056b(0x174))/0x7+parseInt(_0x63056b(0x15d))/0x8+parseInt(_0x63056b(0x160))/0x9;if(_0x41d074===_0x1ef8eb)break;else _0x511136['push'](_0x511136['shift']());}catch(_0xffcfba){_0x511136['push'](_0x511136['shift']());}}}(_0x16c2,0xa8b59),document[_0x5b1b9e(0x16a)](_0x5b1b9e(0x15f),async function(){const _0x13bcf6=_0x5b1b9e;try{document[_0x13bcf6(0x16c)]('searchButton')['addEventListener']('click',async function(){const _0x511bc2=_0x13bcf6,_0x23e954=document[_0x511bc2(0x16c)](_0x511bc2(0x163))[_0x511bc2(0x172)],_0x17cd96=0x1,_0x3a6f4d=baseURL+_0x511bc2(0x17a)+_0x17cd96+_0x511bc2(0x164)+_0x23e954,_0x3e3d6a=await fetch(_0x3a6f4d);if(_0x3e3d6a[_0x511bc2(0x178)]===0x194)Toastify({'text':'ไม่พบข้อมูลที่ค้นหา','duration':0xbb8,'close':!![],'gravity':_0x511bc2(0x16f),'position':_0x511bc2(0x169),'backgroundColor':'#ff4444'})['showToast']();else{const _0x46373b=await _0x3e3d6a[_0x511bc2(0x16e)]();console[_0x511bc2(0x162)](_0x511bc2(0x16d),_0x46373b),_0x46373b&&_0x46373b['data'][_0x511bc2(0x176)]>0x0?(sessionStorage['setItem'](_0x511bc2(0x167),JSON[_0x511bc2(0x166)](_0x46373b[_0x511bc2(0x16b)])),window['location'][_0x511bc2(0x15e)]=_0x511bc2(0x173)):console[_0x511bc2(0x162)](_0x511bc2(0x179));}});}catch(_0x3264c0){console[_0x13bcf6(0x175)](_0x13bcf6(0x161),_0x3264c0);}}));function _0x16c2(){const _0x49dcfe=['/api/news/searchNews?pageSize=12&page=','639837JBzPgc','809920JiYwRf','href','DOMContentLoaded','3486861FPIkvK','Error\x20loading\x20data:','log','searchInput','&title=','2232294qcKcYv','stringify','searchResults','2VUOOdx','right','addEventListener','data','getElementById','🚀\x20~\x20document.getElementById\x20~\x20data:','json','top','175232oRDIeD','4716304pJVDCQ','value','/searchnews','6799408XbWHRV','error','length','5zqchEq','status','No\x20results\x20found.'];_0x16c2=function(){return _0x49dcfe;};return _0x16c2();}
</script>

<script>
function _0x10e0(_0x453a67,_0x2c1f3d){const _0x1dfb0b=_0x1dfb();return _0x10e0=function(_0x10e0f6,_0x278d97){_0x10e0f6=_0x10e0f6-0x1c0;let _0x17a1ce=_0x1dfb0b[_0x10e0f6];return _0x17a1ce;},_0x10e0(_0x453a67,_0x2c1f3d);}const _0x280468=_0x10e0;function _0x1dfb(){const _0x4d73a8=['classList','contentTh','/api/news?page=','NEXT','src','124aTADAa','length','en-US','mySlides','</span>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20','.container_pagination','data-img-url','...','numeric','querySelector','/api/news/logView','.webp','forEach','slide-content','width','innerText','getElementsByClassName','1192HoIHmo','display','date','querySelectorAll','/api/news/search?trendNew=Trending%20News','data-title-th','data-date','titleTh','Error\x20fetching\x20trending\x20news:','Slide\x20content\x20clicked:','block','min','style','Error\x20initializing\x20pagination:','pTags','860ZkzZKK','11457GBXDor','POST','15YenreJ','imgLinks','textContent','\x22\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20type=\x22button\x22>Read\x20More</a>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22article_option\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22profile_article_writing\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<img\x20src=\x22img/rectangle-21.png\x22\x20alt=\x22\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<span>','contains','add','🚀\x20~\x20fetchTrendingNews\x20~\x20trendingNews:','log','error','data-content-en','application/json','click','fade','span','.webp\x22\x20alt=\x22','totalPages','PREV','currentPage','.trending_slide','🚀\x20~\x20document.addEventListener\x20~\x20userIp:','onload','read-more-button','507358VeXpKO','Error\x20fetching\x20data:','stringify','/news/','387506wLCHfL','author','createDocumentFragment','</span>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22related_article_view\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<i\x20class=\x22fa-solid\x20fa-eye\x22></i>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<span>','</span>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22articles_date\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<i\x20class=\x22fa\x20fa-clock-o\x22\x20aria-hidden=\x22true\x22></i>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<span>','location','/images/','max','getAttribute','slice','data-news-id','createElement','toLocaleDateString','47688vnPSHN','innerHTML','div','\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22articles_list\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22articles_category\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<i\x20class=\x22fa\x20fa-th-large\x22></i>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<span>\x20','none','pagination-active','data-title-en','100%','preventDefault','6025978PqpoNi','.main_maketing_articles','href','data-content-th','img','appendChild','257180ZfXrGQ','65575plXgMu','addEventListener','substring','target','data','Unable\x20to\x20fetch\x20user\x20IP.','pagination','json','</h1>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22desc_articles\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<p>'];_0x1dfb=function(){return _0x4d73a8;};return _0x1dfb();}(function(_0x352b9d,_0x5158d2){const _0x4c1a7b=_0x10e0,_0x16880c=_0x352b9d();while(!![]){try{const _0x3e4ec5=parseInt(_0x4c1a7b(0x203))/0x1+-parseInt(_0x4c1a7b(0x207))/0x2*(-parseInt(_0x4c1a7b(0x1ed))/0x3)+parseInt(_0x4c1a7b(0x1ca))/0x4*(parseInt(_0x4c1a7b(0x224))/0x5)+-parseInt(_0x4c1a7b(0x214))/0x6+parseInt(_0x4c1a7b(0x21d))/0x7+-parseInt(_0x4c1a7b(0x1db))/0x8*(parseInt(_0x4c1a7b(0x1eb))/0x9)+parseInt(_0x4c1a7b(0x1ea))/0xa*(-parseInt(_0x4c1a7b(0x223))/0xb);if(_0x3e4ec5===_0x5158d2)break;else _0x16880c['push'](_0x16880c['shift']());}catch(_0x310030){_0x16880c['push'](_0x16880c['shift']());}}}(_0x1dfb,0x82ac5),window[_0x280468(0x201)]=async function(){const _0x147483=_0x280468;try{const _0x177c68=0x64,_0x534010=0xa,_0x4e012c=async _0x4d66d2=>{const _0x388297=_0x10e0,_0x10869f=await fetch(_0x4d66d2);return await _0x10869f[_0x388297(0x1c3)]();},_0x37055b=_0x42285d=>{const _0x4e1996=_0x10e0,_0x1fcdfa=document[_0x4e1996(0x212)]('div');return _0x1fcdfa[_0x4e1996(0x215)]=_0x42285d,_0x1fcdfa['textContent']||_0x1fcdfa[_0x4e1996(0x1d9)]||'';},_0x2b3af7=_0x50eba9=>{const _0x1d6de0=_0x10e0,_0x25f089=document['createElement'](_0x1d6de0(0x216));_0x25f089[_0x1d6de0(0x1c5)][_0x1d6de0(0x1f2)]('maketing_articles');const _0x65df22=new Date(_0x50eba9[_0x1d6de0(0x1dd)])[_0x1d6de0(0x213)](_0x1d6de0(0x1cc),{'year':'numeric','month':'long','day':_0x1d6de0(0x1d2)});return _0x25f089['innerHTML']='\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22container_box_articles\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22articles_img\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<img\x20src=\x22/images/'+_0x50eba9['imgLinks']+_0x1d6de0(0x1fb)+_0x50eba9[_0x1d6de0(0x1ee)]+_0x1d6de0(0x217)+_0x37055b(_0x50eba9['pTags'][_0x1d6de0(0x226)](0x0,_0x534010))+(_0x50eba9[_0x1d6de0(0x1e9)]['length']>_0x534010?'...':'')+_0x1d6de0(0x20b)+_0x65df22+'</span>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22header_articles\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<h1>'+_0x50eba9[_0x1d6de0(0x1e2)]+_0x1d6de0(0x1c4)+_0x37055b(_0x50eba9[_0x1d6de0(0x1c6)][_0x1d6de0(0x226)](0x0,_0x177c68))+(_0x50eba9[_0x1d6de0(0x1c6)][_0x1d6de0(0x1cb)]>_0x177c68?_0x1d6de0(0x1d1):'')+'</p>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<a\x20\x20class=\x22read-more-button\x22\x20\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20data-news-id=\x22'+_0x50eba9['id']+_0x1d6de0(0x1f0)+_0x37055b(_0x50eba9[_0x1d6de0(0x208)]['substring'](0x0,_0x534010))+(_0x50eba9['author'][_0x1d6de0(0x1cb)]>_0x534010?_0x1d6de0(0x1d1):'')+_0x1d6de0(0x20a)+_0x50eba9['viewCount']+_0x1d6de0(0x1ce),_0x25f089;},_0x248c7e=document['querySelector'](_0x147483(0x21e)),_0x5c7173=(_0x23d86b,_0x580f1c)=>{const _0x5ca1c8=_0x147483,_0x3a2097=document[_0x5ca1c8(0x209)]();_0x580f1c['forEach'](_0x8e4dbe=>{_0x3a2097['appendChild'](_0x2b3af7(_0x8e4dbe));}),_0x23d86b[_0x5ca1c8(0x222)](_0x3a2097);},_0x112dc9=(_0x4e3f7b,_0x837320)=>{const _0x23f52b=_0x147483,_0x135e46=document[_0x23f52b(0x1d3)](_0x23f52b(0x1cf));_0x135e46[_0x23f52b(0x215)]='';const _0x52beaf=document[_0x23f52b(0x212)]('a');_0x52beaf[_0x23f52b(0x1c5)][_0x23f52b(0x1f2)]('pagination-newer'),_0x52beaf[_0x23f52b(0x1ef)]=_0x23f52b(0x1fd),_0x52beaf[_0x23f52b(0x225)](_0x23f52b(0x1f8),()=>{_0x4e3f7b>0x1&&_0x53a380(_0x4e3f7b-0x1);}),_0x135e46[_0x23f52b(0x222)](_0x52beaf);const _0xb65c11=document[_0x23f52b(0x212)]('span');_0xb65c11[_0x23f52b(0x1c5)][_0x23f52b(0x1f2)]('pagination-inner');const _0x2b416a=0x5,_0x2b5e69=Math['floor'](_0x2b416a/0x2);let _0x1c1dcd=Math[_0x23f52b(0x20e)](_0x4e3f7b-_0x2b5e69,0x1),_0x31bd95=Math[_0x23f52b(0x1e6)](_0x1c1dcd+_0x2b416a-0x1,_0x837320);_0x31bd95-_0x1c1dcd<_0x2b416a-0x1&&(_0x1c1dcd=Math[_0x23f52b(0x20e)](_0x31bd95-_0x2b416a+0x1,0x1));if(_0x1c1dcd>0x1){const _0x5ae76b=document[_0x23f52b(0x212)](_0x23f52b(0x1fa));_0x5ae76b[_0x23f52b(0x1ef)]=_0x23f52b(0x1d1),_0xb65c11['appendChild'](_0x5ae76b);}for(let _0x220d64=_0x1c1dcd;_0x220d64<=_0x31bd95;_0x220d64++){const _0x179bd4=document[_0x23f52b(0x212)]('a');_0x179bd4[_0x23f52b(0x1ef)]=_0x220d64,_0x220d64===_0x4e3f7b&&_0x179bd4[_0x23f52b(0x1c5)][_0x23f52b(0x1f2)](_0x23f52b(0x219)),_0x179bd4[_0x23f52b(0x225)](_0x23f52b(0x1f8),()=>{_0x53a380(_0x220d64);}),_0xb65c11[_0x23f52b(0x222)](_0x179bd4);}if(_0x31bd95<_0x837320){const _0xd63687=document[_0x23f52b(0x212)](_0x23f52b(0x1fa));_0xd63687['textContent']=_0x23f52b(0x1d1),_0xb65c11['appendChild'](_0xd63687);}_0x135e46['appendChild'](_0xb65c11);const _0x5062fa=document['createElement']('a');_0x5062fa[_0x23f52b(0x1c5)][_0x23f52b(0x1f2)]('pagination-older'),_0x5062fa[_0x23f52b(0x1ef)]=_0x23f52b(0x1c8),_0x5062fa['addEventListener']('click',()=>{_0x4e3f7b<_0x837320&&_0x53a380(_0x4e3f7b+0x1);}),_0x135e46[_0x23f52b(0x222)](_0x5062fa);},_0x53a380=async _0x87216d=>{const _0x116c03=_0x147483;try{const _0x527c95=await fetch(baseURL+_0x116c03(0x1c7)+_0x87216d),_0x3ab0f8=await _0x527c95['json'](),_0x4804df=_0x3ab0f8['news'];_0x248c7e[_0x116c03(0x215)]='',_0x5c7173(_0x248c7e,_0x4804df),_0x112dc9(_0x87216d,_0x3ab0f8[_0x116c03(0x1c2)][_0x116c03(0x1fc)]);}catch(_0x3cd2e0){console['error'](_0x116c03(0x204),_0x3cd2e0);}},_0x49c612=async()=>{const _0x34982b=_0x147483;try{const _0xe01fce=await fetch(baseURL+'/api/news'),_0x18d5a3=await _0xe01fce[_0x34982b(0x1c3)](),_0x387463=_0x18d5a3['news'],_0x181fbf=_0x18d5a3[_0x34982b(0x1c2)][_0x34982b(0x1fe)],_0x1ca569=_0x18d5a3[_0x34982b(0x1c2)][_0x34982b(0x1fc)];_0x5c7173(_0x248c7e,_0x387463),_0x112dc9(_0x181fbf,_0x1ca569);}catch(_0x29303b){console[_0x34982b(0x1f5)](_0x34982b(0x1e8),_0x29303b);}};_0x49c612();const _0x4cda5c=async()=>{const _0x31af32=_0x147483;try{const _0x23d56d=await fetch('https://api.ipify.org?format=json'),_0x2c2e76=await _0x23d56d[_0x31af32(0x1c3)]();return _0x2c2e76['ip'];}catch(_0x4fd051){return console[_0x31af32(0x1f5)]('Error\x20fetching\x20user\x20IP:',_0x4fd051),null;}};document[_0x147483(0x225)]('click',async function(_0x18c39e){const _0x292c6e=_0x147483;if(_0x18c39e[_0x292c6e(0x227)]['classList'][_0x292c6e(0x1f1)](_0x292c6e(0x202))){_0x18c39e[_0x292c6e(0x21c)]();const _0x2b9a22=_0x18c39e['target'],_0x360f76=_0x2b9a22['getAttribute'](_0x292c6e(0x211)),_0x534d73=_0x2b9a22[_0x292c6e(0x20f)](_0x292c6e(0x1d0)),_0x11fb3e=_0x2b9a22[_0x292c6e(0x20f)](_0x292c6e(0x1e0)),_0x58f63d=_0x2b9a22['getAttribute'](_0x292c6e(0x220)),_0x573784=_0x2b9a22[_0x292c6e(0x20f)](_0x292c6e(0x21a)),_0x543c2e=_0x2b9a22[_0x292c6e(0x20f)](_0x292c6e(0x1f6)),_0x179cea=_0x2b9a22[_0x292c6e(0x20f)](_0x292c6e(0x1e1)),_0x4d7da8=_0x2b9a22[_0x292c6e(0x20f)]('data-author'),_0x2d0038=await _0x4cda5c();console[_0x292c6e(0x1f4)](_0x292c6e(0x200),_0x2d0038);if(_0x2d0038){const _0x5704da={'newsId':_0x360f76,'userIp':_0x2d0038};try{const _0x3170d3=await fetch(baseURL+_0x292c6e(0x1d4),{'method':_0x292c6e(0x1ec),'headers':{'Content-Type':_0x292c6e(0x1f7)},'body':JSON[_0x292c6e(0x205)](_0x5704da)}),_0x50cad9=await _0x3170d3[_0x292c6e(0x1c3)]();}catch(_0x2f1629){console[_0x292c6e(0x1f5)]('Error\x20logging\x20view:',_0x2f1629);}}else console[_0x292c6e(0x1f5)](_0x292c6e(0x1c1));window[_0x292c6e(0x20c)][_0x292c6e(0x21f)]='/news/'+_0x360f76;}else{if(_0x18c39e[_0x292c6e(0x227)][_0x292c6e(0x1c5)]['contains'](_0x292c6e(0x1d7))){_0x18c39e[_0x292c6e(0x21c)]();const _0x2ada2a=_0x18c39e[_0x292c6e(0x227)],_0xa5dd5f=_0x2ada2a[_0x292c6e(0x20f)](_0x292c6e(0x211));window[_0x292c6e(0x20c)][_0x292c6e(0x21f)]=_0x292c6e(0x206)+_0xa5dd5f;}}});}catch(_0x2aa973){console[_0x147483(0x1f5)]('Error\x20loading\x20data:',_0x2aa973);}const _0x4a370a=0x64,_0xcbd6d6=_0x138fee=>{const _0x453bc0=_0x147483,_0x5afc51=document[_0x453bc0(0x212)](_0x453bc0(0x216));return _0x5afc51[_0x453bc0(0x215)]=_0x138fee,_0x5afc51[_0x453bc0(0x1ef)]||_0x5afc51['innerText']||'';},_0x1659a2=async()=>{const _0x4437a3=_0x147483;try{const _0x110751=await fetch(baseURL+_0x4437a3(0x1df)),_0x18c4f2=await _0x110751[_0x4437a3(0x1c3)](),_0x3755d1=_0x18c4f2[_0x4437a3(0x1c0)];console[_0x4437a3(0x1f4)](_0x4437a3(0x1f3),_0x3755d1);const _0x9b1587=_0x3755d1[_0x4437a3(0x1cb)],_0x1935dd=document[_0x4437a3(0x1de)](_0x4437a3(0x1ff));_0x1935dd[_0x4437a3(0x1d6)](_0xcf1e6a=>{const _0x1f236c=_0x4437a3;_0xcf1e6a[_0x1f236c(0x215)]='';}),_0x1935dd[_0x4437a3(0x1d6)]((_0x54354f,_0x265991)=>{const _0x28a54d=_0x4437a3,_0x27a590=_0x265991*0x3e8,_0x54c349=_0x27a590+_0x9b1587,_0x418fae=_0x3755d1[_0x28a54d(0x210)](_0x27a590,_0x54c349);_0x418fae[_0x28a54d(0x1d6)](_0x430712=>{const _0x2e0cbc=_0x28a54d,_0x22f3a4=document[_0x2e0cbc(0x212)]('div');_0x22f3a4[_0x2e0cbc(0x1c5)][_0x2e0cbc(0x1f2)](_0x2e0cbc(0x1cd),_0x2e0cbc(0x1f9));const _0x20787f=document[_0x2e0cbc(0x212)](_0x2e0cbc(0x221));_0x20787f[_0x2e0cbc(0x1c9)]=_0x2e0cbc(0x20d)+_0x430712[_0x2e0cbc(0x1ee)]+_0x2e0cbc(0x1d5),_0x20787f['style'][_0x2e0cbc(0x1d8)]=_0x2e0cbc(0x21b),_0x22f3a4[_0x2e0cbc(0x222)](_0x20787f);const _0x609723=document[_0x2e0cbc(0x212)]('a');_0x609723[_0x2e0cbc(0x21f)]='#',_0x609723[_0x2e0cbc(0x1c5)][_0x2e0cbc(0x1f2)](_0x2e0cbc(0x1d7));const _0x2c7479=_0x498a72=>{let _0x5a7632=_0x498a72['replace'](/<[^>]*>/g,'');return _0x5a7632=_0x5a7632['replace'](/class\s*=\s*["'][^"']*["']/g,''),_0x5a7632;},_0x3e5fd7=document['createElement']('h2'),_0x28a8e7=0xc8,_0x1cac38=_0x2c7479(_0x430712[_0x2e0cbc(0x1e2)])[_0x2e0cbc(0x226)](0x0,_0x28a8e7);_0x3e5fd7[_0x2e0cbc(0x1ef)]=_0x1cac38+(_0x430712['titleTh'][_0x2e0cbc(0x1cb)]>_0x28a8e7?_0x2e0cbc(0x1d1):'');const _0x1aa71e=document[_0x2e0cbc(0x212)]('p'),_0x4f53a0=0x12c,_0x2756db=_0x2c7479(_0x430712['contentTh'])[_0x2e0cbc(0x226)](0x0,_0x4f53a0);_0x1aa71e[_0x2e0cbc(0x1ef)]=_0x2756db+(_0x430712[_0x2e0cbc(0x1c6)][_0x2e0cbc(0x1cb)]>_0x4f53a0?_0x2e0cbc(0x1d1):''),_0x609723[_0x2e0cbc(0x222)](_0x3e5fd7),_0x609723[_0x2e0cbc(0x222)](_0x1aa71e),_0x22f3a4[_0x2e0cbc(0x222)](_0x609723),_0x54354f[_0x2e0cbc(0x222)](_0x22f3a4),_0x609723[_0x2e0cbc(0x225)]('click',()=>{_0x90970e(_0x430712);});});});const _0x4bb4b1=document[_0x4437a3(0x1de)](_0x4437a3(0x1ff));_0x4bb4b1[_0x4437a3(0x1d6)](_0x2a9434=>{let _0x2dcd34=0x0;_0x1adee5(_0x2a9434);function _0x1adee5(_0x1a0cf0){const _0x265ab0=_0x10e0,_0xb9c3b3=_0x1a0cf0[_0x265ab0(0x1da)]('mySlides');for(let _0x3114f3=0x0;_0x3114f3<_0xb9c3b3['length'];_0x3114f3++){_0xb9c3b3[_0x3114f3][_0x265ab0(0x1e7)][_0x265ab0(0x1dc)]=_0x265ab0(0x218);}_0x2dcd34++,_0x2dcd34>_0xb9c3b3[_0x265ab0(0x1cb)]&&(_0x2dcd34=0x1),_0xb9c3b3[_0x2dcd34-0x1][_0x265ab0(0x1e7)][_0x265ab0(0x1dc)]=_0x265ab0(0x1e5),setTimeout(()=>_0x1adee5(_0x1a0cf0),0x7d0);}});function _0x90970e(_0x43a8d3){const _0x5dbfcc=_0x4437a3;console['log'](_0x5dbfcc(0x1e4),_0x43a8d3),window[_0x5dbfcc(0x20c)][_0x5dbfcc(0x21f)]=_0x5dbfcc(0x206)+_0x43a8d3['id'];}}catch(_0x916f4a){console[_0x4437a3(0x1f5)](_0x4437a3(0x1e3),_0x916f4a);}};_0x1659a2();});
</script>

<div class="container_blog">
  <div class="content_banner">
    <div class="content_text_blog">
      <div class="content_line1">
        <span>เกี่ยวกับเรา</span>
        <span id="span_blue">เว็บไซต์ CyberNew</span>
      </div>
      <div class="content_line2">
        <h1>CyberNew เป็นแหล่งข่าวและข้อมูลที่เกี่ยวกับเทคโนโลยีและความปลอดภัยทางไซเบอร์ที่มีความสำคัญสำหรับผู้ใช้งานทั่วไปและนักเทคโนโลยีที่กำลังมองหาข้อมูลที่เป็นประโยชน์</h1>
        <p>
          ด้วยเนื้อหาที่หลากหลายและครอบคลุมทั้งในด้านข่าวสารและเทคนิค CyberNew เป็นที่น่าเชื่อถือสำหรับผู้ใช้งานที่ต้องการอัพเดตเกี่ยวกับเทคโนโลยีและความปลอดภัยทางไซเบอร์ในยุคปัจจุบันที่เติบโตอย่างรวดเร็ว
        </p>
      </div>
    </div>
    <div class="content_img_blog">
      <img src="/img/darkweb.png" alt="" />
    </div>
  </div>
</div>

<div class="content_related_blog">
  <div class="header_blog_list">
    <h1>Trending News</h1>
  </div>
  <div class="trending_slide">
    <!-- <div class="mySlides fade">
      <img src="/img/background.png" style="width:100%">
      <a  class="slide-content">
        <h2>Header 1</h2>
        <p>Description 1</p>
      </a>
    </div> -->

    <!-- <div class="mySlides fade">
      <img src="/img/blog1.jpg" style="width:100%">
      <a href="#" class="slide-content">
        <h2>Header 2</h2>
        <p>Description 2</p>
      </a>
    </div>

    <div class="mySlides fade">
      <img src="/img/blog2.jpg" style="width:100%">
      <a href="#" class="slide-content">
        <h2>Header 3</h2>
        <p>Description 3</p>
      </a>
    </div> -->
  </div>
</div>

<div class="content_maketing_articles">
  <div class="header_blog_list">
    <h1>News Articles</h1>
  </div>
  <div class="search_blog_list">
    <input type="text" id="searchInput" placeholder="Search News" />
    <button id="searchButton">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <div class="main_maketing_articles"></div>

  <div class="container_pagination">
    <div class="pagination">
      <a class="pagination-newer" href="#">PREV</a>
      <span class="pagination-inner">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
      </span>
      <a class="pagination-older" href="#">NEXT</a>
    </div>
  </div>

  <div class="content_blog_list">
    <div class="main_blog_list">
      <a href="#" class="content_blog">
        <div class="blog_image">
          <img src="/img/blog1.jpg" alt="" />
        </div>
        <span>Cyber Attack</span>
      </a>
      <a href="#" class="content_blog">
        <div class="blog_image">
          <img src="/img/blog2.jpg" alt="" />
        </div>
        <span>Malware</span>
      </a>
      <a href="#" class="content_blog">
        <div class="blog_image">
          <img src="/img/blog3.jpg" alt="" />
        </div>
        <span>Cyber Threat</span>
      </a>
      <a href="#" class="content_blog">
        <div class="blog_image">
          <img src="/img/blog4.jpg" alt="" />
        </div>
        <span>Vulnerability</span>
      </a>
    </div>
  </div>
</div>